.result_subject_table{background: #fff;}
@media screen {
.result_subject_table table{border: 1px solid #000; width: 100%;}
.result_subject_table th{font-weight:bold; background:#666; color:#fff; padding: 1px; border: 1px solid #fff;}
.result_subject_table td{padding: 1px 1px 1px 3px; border: 1px solid #ccc; text-align:center}

}

@media print {
	a[href]:after {
	content: none !important;
	}
.result_subject_table td{padding: 1px; border: 1px solid #000; text-align:center}	
	table {
		border :  0px solid #000000;
		border-spacing: 0;
		font-size: 11pt;
		width: 100%;
		border-color:  #000000 ;
		border-right: 1px solid;
	}
	tr {
		border-color:  #000000 ;
		border-style: none ;
		border-width: 0 ;
		padding:1px;
	}
	td {
		border-color:  #000000 ;
		border-left: 1px solid;
		border-bottom:1px solid ;
		padding:1px;
	}

	th {
		border-color:  #000000 ;
		border-left: 1px solid;
		border-top:1px solid ;
		border-bottom:1px solid ;
		padding:1px;
	}
	
	.marksheet{
		width:1050px; 
		height:710px;
	}	
	.result_table table{
		font-size:14px !important;
		border:1px solid #000;
	}
	.result_table th{
		font-weight:bold !important;
	}
		

	.mark_head2_clam{float: left;
	margin-left: 0%;
	text-align: center;
	width: 33%;}

	.mark_head2_clam td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 6px;
	border: 1px solid #000;
	padding:5px;
	text-align:center
	}
	.mark_head2_clam tr {
		border: 1px solid #000;
	}
	.mark_head2_clam th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 6px;
	background:;
	color: #000;
	padding: 2px 6px;
	border-collapse: separate;
	border: 1px solid #000;
	text-align:center;
	font-weight:normal;
	}
	.text-left{text-align:left !important}

	

}
.logoiphs{float:left; width:8.33%}
.logo_section h1{color:#2E3699; font-weight:bold; font-size:32px}
.logoiphs img{height:65px; width:65px}
.logo_section{text-align:center}
.add{font-size:20px}
.mail{color:#8D5CAD}
.exm{color:#800000; font-weight:bold; font-size:20px}
.prgrs{color:#33CC33; font-weight:bold; font-size:25px; text-decoration:underline;}
.head_right{text-align:center; width:91.66%}
.id_name{text-align:left; float:left; width:500px; font-size:18px}
.class_sec_section{margin-top:20px; margin-left:20px}
.class_sec{text-align:left; float:left; width:180px}
.fix{overflow:hidden}

.class_sec ul li {float: left; margin-left:10px}
.id_name ul li {float: left; margin-left:10px}
.id_nam li {width: 50px; color:#330080}

.final_result_table table{margin-top:20px; font-size:14px; border:3px solid #000080}
.final_result_table .th td{color:#080080; font-weight:bold;}
.final_result_table td{padding:5px;}

.final_result_table_section {margin-top:10px}
.final_result_table2{width:300px; float:left;}
.final_result_table2 table{border:3px solid #000080}
.final_result_table3{width:350px; float:right;}
.final_result_table3 table{ border:3px solid #000080}

.final_result_table4{width:210px; float:left; margin-right:20px}
.final_result_table4 table{ border:3px solid #000080}
.final_result_table5{width:255px; float:left; margin-right:20px}
.final_result_table5 table{border:3px solid #000080}
.final_result_table6{width:210px; float:right}
.final_result_table6 table{ border:3px solid #000080}
.final_result_table4 td {padding:0px 5px;}
.position{color: #000080; }
.position_number{color:red}
.result_page{height:1025px}

.text-left{text-align:left !important}
.result_table {font-size:16px !important;}
.result_head {text-align:center}
.result_head h2{font-size:25px; font-weight:bold}
.result_head p{font-size:12px; font-weight:reguler}
.result_head h3{font-size:15px; font-weight:bold}

.mark_head2_clam img{height:120px}

.mark_head2_clam {text-align:center}
.mark_head2_clam td {
font-family: Arial, Helvetica, sans-serif;
font-size: 6px;
padding:5px
}
.mark_head2_clam th {
background:;
color: #000;
padding: 2px 6px;
border-collapse: separate;
border: 1px solid #000;
text-align:center;
font-weight:normal;
font-size:8px
}
.mark_head2_clam td {
border: 1px solid #000;
padding:2px;
text-align:center;
font-size:8px
}
.bold{font-weight:bold}

.marksheet_sign {margin: 20px 0px 0px 50px; width:230px}
.marksheet_sign p{border-top:1px solid #000; }
.marksheet_sign img{height:35px; margin-bottom:5px }
.result_subject_table input{width:100%}